body {
  height: 100vh;
  overflow: hidden;
}
img {
  max-width: 100%;
  height: auto;
}
.section--1 {
  width: 100vw;
  height: 100vh;
  background-color: #333;
  display: flex;
}

.wrapper-left {
  flex-basis: 60%;
  max-width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero {
  overflow: hidden;
  flex-basis: 35%;
  max-width: 35%;
}
.hero img {
  height: 100vh;
  object-fit: cover;
}
.main-heading {
  text-align: center;
  margin-bottom: 70px;
}
.heading {
  font-size: 68px;
  font-weight: 300;
}
.heading__md {
  font-size: 45px;
  font-weight: 300;
}

.link-nav {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.link-nav p {
  font-size: 25px;
}
.links {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.link-nav a {
  font-size: 50px;
}
.links span {
  display: block;
  text-align: center;
}
.links img {
  position: absolute;
  right: 0;
}
.find-me {
  text-align: center;
  text-transform: uppercase;
}
.find-me p {
  font-size: 55px;
}

.find-me a {
  font-size: 100px;
}

.social-icons {
  position: fixed;
  top: 0;
  right: 0;
  max-width: 5vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 85vh;
}
.social-links {
  display: block;
}
.social-links img {
  display: block;
}

.buttons {
  position: fixed;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons a {
  width: 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 13vh;
  position: relative;
  text-indent: 150px;
  overflow: hidden;
  box-shadow: 0 -5px 10px 0px rgba(0, 0, 0, 0.75);
}

.buttons a::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  border: solid #fff;
  z-index: 2;
  width: 2.5vw;
  height: 5vh;
  transform: translate(-50%, -50%) rotate(45deg);
}

.buttons .previous {
  background-color: #ddd;
}
.buttons .previous::after {
  border-width: 0 0 2px 2px;
  margin-left: 0.45vw;
}
.buttons .next {
  background-color: #333;
}
.buttons .next::after {
  border-width: 2px 2px 0 0;
  margin-left: -0.45vw;
}

@media only screen and (max-width: 575px) {
  .section--1 {
    flex-wrap: wrap;
    overflow: hidden;
  }
  .wrapper-left {
    flex-basis: 100%;
    max-width: 100%;
    order: 2;
    align-items: flex-start;
    margin-top: -60px;
  }
  .hero {
    flex-basis: 100%;
    max-width: 100%;
    background-image: url(./../img/home/hero.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 35vh;
    margin-top: 60px;
  }
  .hero img {
    display: none;
  }
  .main-heading {
    position: fixed;
    top: 15px;
    left: 0;
    width: 100%;
  }
  .main-heading .heading {
    font-size: 16px;
    line-height: 1.8;
  }
  .main-heading .heading__md {
    font-size: 12px;
  }
  .link-nav {
    margin-bottom: 15px;
  }
  .link-nav p {
    font-size: 14px;
  }
  .link-nav a {
    font-size: 20px;
  }
  .find-me p {
    font-size: 22px;
  }
  .find-me a {
    font-size: 30px;
  }
  .links img {
    width: 20px;
  }
  .social-icons {
    max-width: 100%;
    display: flex;
    top: initial;
    bottom: 0;
    right: initial;
    left: 0;
  }

  .social-links {
    max-height: 65px;
  }

  .buttons {
    right: 0;
    bottom: initial;
    top: 0;
    left: 0;
    justify-content: space-between;
  }

  .buttons a {
    width: 60px;
    height: 60px;
    background-color: #aaa !important;
  }

  .buttons a::after {
    width: 15px;
    height: 15px;
  }
}
.about__content,.skills__content {
  padding: 10px 0 10px 10px;
}
.heading__about {
  text-align: left;
  font-size: 30px;
  text-transform: uppercase;
}

.heading__about span {
  font-size: 60px;
}

.main-title {
  border-bottom: 10px solid #fff;
}

.main-content {
  font-size: 20px;
  margin-top: 50px;
  height: 80vh;
  width: calc(55vw - 10px);
}

.main-content p {
  margin-bottom: 35px;
  padding-right: 15px;
  line-height: 1.8;
}
.main-content p span {
  font-size: 40px;
}

.navbar {
  border-left: 10px solid #fff;
  padding: 10px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mynameNav {
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-size: 35px;
  text-transform: uppercase;
  margin: 0 auto;
}

.nav-middle ul>li {
  font-size: 18px;
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.nav-middle ul>li:first-child {
  margin-top: 20px;
}

.skills__content .main-content ul>li {
  display: flex;
}
.skills__content .main-content ul>li .percentage {
  flex-basis: 80%;
  text-align: center;
  position: relative;
  z-index: 1;
  color: #333;
}
.skills__content .main-content ul>li .percentage:before {
  content: attr(data-target);
  position: absolute;
  z-index: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: #fff;
}
.skills__content .main-content ul>li p:first-child {
  flex-grow: 1;
}
.skills__content .main-content ul > li.html .percentage:before {
  background-color: #e54d26;
  width: 98%;
}

.skills__content .main-content ul > li.css .percentage:before {
  background-color: #4091E6;
  width: 90%;
}

.skills__content .main-content ul > li.js .percentage:before {
  background-color: #f0db4f;
  width: 70%;

}

.skills__content .main-content ul > li.php .percentage:before {
  background-color: #8993be;
  width: 35%;

}

.skills__content .main-content ul > li.wordpress .percentage:before {
  background-color: #21759B;
  width: 70%;

}

.skills__content .main-content ul > li.bootstrap .percentage:before {
  background-color: #563d7c;
  width: 88%;

}

.skills__content .main-content ul > li.illust .percentage:before {
  background-color: #ff7f18;
  width: 80%;

}

.skills__content .main-content ul > li.photoshop .percentage:before {
  width: 90%;
  background-color: #65d4f4;
}

.skills__content .main-content ul > li.xd .percentage:before {
  width: 75%;
  background-color: #0179cb;
}